/* Load fonts */
@font-face {
  font-family: "Poppins";
  src:
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src:
    url("./assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Tailwind v4 theme tokens */
@theme {
  --font-pop: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}
@import "tailwindcss";
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #0f172a; /* Tailwind's slate-900 or use any dark color */
}

::-webkit-scrollbar-thumb {
  background-color: #1d2c4f; /* Tailwind green-400 */
  border-radius: 9999px;
  border: 2px solid #0f172a; /* Match the track background for padding illusion */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #22c55e; /* Tailwind green-500 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1d2c4f #0f172a; /* thumb color, track color */
}

::selection {
  background-color: #0f172a; /* amber-400 */
  color: white;            /* slate-800 */
}
